<!DOCTYPE html>

<div class="container">

    <div>
        <h2>Ajouter un produit: </h2>
    </div>

    <form method="get" action="#" (ngSubmit)="addProduit()">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="idProduitInput">ID produit</label>
            <input 
                required
                type="text" 
                [(ngModel)]="newProduit.idProduit" 
                name="idProduit" 
                id="idProduitInput" 
                class="form-control"
            >
        </div>
        <div class="col-sm-2 col-md-2 col-lg-4">
            <label for="nomProduitInput">Nom du produit</label>
            <input
                required
                type="text" 
                [(ngModel)]="newProduit.nomProduit"
                name="nomProduit" 
                id="nomProduitInput"
                class="form-control"
            >
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="prixProduitInput">Prix du produit</label>
            <input
                required
                type="number" 
                [(ngModel)]="newProduit.prixProduit"
                name="prixProduit" 
                id="prixProduitInput"
                class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-4">
            <label for="dateCreationInput">Date de création</label>
            <input 
                required
                type="date" 
                [(ngModel)]="newProduit.dateCreation" 
                name="dateCreation" 
                id="dateCreationInput"
                class="form-control"
            >
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="categorie">Catégorie</label>
            <select 
                name="nomCat"
                id="categorie"
                class="form-control form-control-lg"
                [(ngModel)]="updatedCatId"
            >
                <option
                    *ngFor="let cat of categories" 
                    [value]="cat.idCat"
                >
                    {{cat.nomCat}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </form>

    <div class="mt-5">
        <p>{{message}}</p>
    </div>

</div>