<!DOCTYPE html>

<div class="container">
    <div>
        <h2>Modifier un produit</h2>
    </div>

    <form method="get" action="#" (ngSubmit)="updateProduit(currentProduit)">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="id-produit">ID produit</label>
            <input
                readonly
                type="text"
                name="idProduit"
                class="form-control"
                id="id-produit"
                [(ngModel)]="currentProduit.idProduit"
            >
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="nom-produit">Nom du produit</label>
            <input 
                type="text"
                name="nomProduit"
                class="form-control"
                id="nom-produit"
                [(ngModel)]="currentProduit.nomProduit"
            >
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="prix-produit">Prix du produit</label>
            <input 
                type="number" 
                name="prixProduit" 
                class="form-control" 
                id="prix-produit"
                [(ngModel)]="currentProduit.prixProduit"
            >
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="date-creation">Date de création</label>
            <input 
                type="date" 
                name="dateCreation" 
                class="form-control" 
                id="date-creation"
                [(ngModel)]="formattedDate"
            >
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="categorie">Catégorie</label>
            <select 
                name="categorie"
                id="categorie"
                class="form-control form-control-lg"
                [(ngModel)]="updatedCategoryId"
            >
                <option
                    *ngFor="let cat of categories"
                    [value]="cat.idCat"
                >
                    {{cat.nomCat}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>